.lead-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lead-header h2 {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
