<mat-card>
  <h2>Create Task</h2>

  <form [formGroup]="form" (ngSubmit)="create()" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Task Title *</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="form.controls.title.hasError('required')">Task title is required</mat-error>
      <mat-error *ngIf="form.controls.title.hasError('server')">{{ form.controls.title.getError('server') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Assigned User *</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option value="">Select user</mat-option>
        <mat-option *ngFor="let user of users" [value]="user._id">{{ user.name }} ({{ user.email }})</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.assignedTo.hasError('required')">Assigned user is required</mat-error>
      <mat-error *ngIf="form.controls.assignedTo.hasError('server')">{{ form.controls.assignedTo.getError('server') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lead</mat-label>
      <mat-select formControlName="leadId">
        <mat-option value="">No lead</mat-option>
        <mat-option *ngFor="let lead of leads" [value]="lead._id">{{ lead.title || lead.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Due Date</mat-label>
      <input matInput type="date" formControlName="dueDate" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="TODO">TODO</mat-option>
        <mat-option value="IN_PROGRESS">IN_PROGRESS</mat-option>
        <mat-option value="DONE">DONE</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.status.hasError('server')">{{ form.controls.status.getError('server') }}</mat-error>
    </mat-form-field>

    <div class="actions-row">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-stroked-button color="primary" type="button" routerLink="/tasks">Cancel</button>
    </div>
  </form>

  <small class="error" *ngIf="error">{{ error }}</small>
</mat-card>
